[core]
  excludesfile = /Users/seongjun/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RFX
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[user]
  email = seongjun@amazon.com
  name = "Seongjun Yun"
[color]
  ui = true
[push]
  default = simple
[alias]
  dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[amazon]
  append-cr-url = true
  pull-request-by-default = true
[diff]
  compactionHeuristic = true
[interactive]
  diffFilter = diff-so-fancy
[pager]
  log = diff-so-fancy | less
  show = diff-so-fancy | less
  diff = diff-so-fancy | less
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse
[diff-so-fancy]
  first-run = false
