fishd.*
fish_read_history
fish_history
elpa
/.config/brazil
/.config/cr
/.config/configstore
/.config/ninja-dev-sync.json
/.emacs.d/.dir-locals.el
/.emacs.d/.mc-lists.el
/.emacs.d/.rust-auto-use-cache
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list/
/.emacs.d/eshell/
/.emacs.d/games
/.emacs.d/network-security.data
/.emacs.d/recentf
/.emacs.d/request
/.emacs.d/tramp
/.emacs.d/transient/
/.emacs.d/tutorial
*.elc
*.eld
/.lein/repl-history
/.lein/repl-port
.python-environments
