fishd.*
fish_read_history
fish_history
elpa
/.config/brazil
/.config/cr
/.config/configstore
/.config/ninja-dev-sync.json
/.emacs.d/.mc-lists.el
/.emacs.d/ac-comphist.dat
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/games
/.emacs.d/tutorial
/.emacs.d/request
/.emacs.d/.dir-locals.el
/.emacs.d/network-security.data
*.elc
*.eld
/.lein/repl-history
/.lein/repl-port
.python-environments
