[core]
	excludesfile = /Users/seongjun/.gitignore_global
	pager = less -FMRiX
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	email = seongjun@amazon.com
	name = "Seongjun Yun"
[color]
	ui = auto
[push]
	default = simple
[alias]
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[amazon]
	append-cr-url = true
	pull-request-by-default = true
[diff]
	compactionHeuristic = true
[interactive]
	diffFilter = diff-highlight
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
